/* dashboard.css */
.container {
  display: flex;
  font-family: "DM Sans", sans-serif;
}

.sidebar {
  background-color: #333;
  color: #fff;
  width: 250px;
  padding: 20px;
}

.sidebar-header {
  margin-top: 20px;
  padding: 0 20px;
}

.sidebar h1 {
  font-size: 24px;
  font-weight: 700;
}

ul {
  list-style: none;
  padding: 0;
}

li button {
  background-color: #4318ff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  padding: 12px 20px;
  margin-top: 10px;
  width: 100%;
  text-align: left;
}

li button:hover {
  background-color: #4318aa;
}

.user-name {
  font-weight: 700;
  font-size: 28px;
  margin-top: 20px;
  padding: 0 16px;
}

.user-info {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 16px;
}
