.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Ganti dengan warna latar belakang yang Anda inginkan */
  font-family: Arial, sans-serif;
}

.card {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
  color: #2b3674; /* Ganti dengan warna teks yang Anda inginkan */
}

.summary {
  color: #888;
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 30px;
}

.fieldInput {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.label {
  color: #333;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.star {
  color: red; /* Ganti dengan warna yang Anda inginkan */
  margin-left: 5px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 14px;
  /* width: 100%; */
  font-size: 14px;
  background: transparent;
  color: #333;
}

.buttonPrimary {
  background-color: dodgerblue;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  transition: background-color 0.3s;
}

.buttonPrimary:hover {
  background-color: blue; /* Ganti dengan warna latar belakang saat tombol dihover */
}
