/* Login.css */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Ganti dengan warna latar belakang yang Anda inginkan */
  font-family: "DM Sans", sans-serif; /* Ganti dengan font yang sesuai */
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 20px;
  width: 100%;
  max-width: 400px;
}

h1 {
  color: #4318ff; /* Ganti dengan warna teks yang Anda inginkan */
  font-size: 24px;
}

.summary {
  color: #333; /* Ganti dengan warna teks yang Anda inginkan */
  font-size: 16px;
  margin-top: 10px;
}

.fieldInput {
  margin-top: 20px;
}

.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 14px;
  width: 95%;
  font-size: 16px;
  background: transparent;
  color: #333; /* Ganti dengan warna teks yang Anda inginkan */
  margin-top: 5px;
}

.buttonPrimary {
  background-color: dodgerblue;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  padding: 12px 24px;
  margin-top: 20px;
}

.buttonPrimary:hover {
  background-color: blue;
}
